{:paths ["src" "res"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1" :mvn/scope "provided"}}

 :aliases
 {:attach {:jvm-opts ["-Djdk.attach.allowAttachSelf"]}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3"
                                                   :git/sha "7ac1f8d"}}
          :ns-default build}

  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                            :git/sha "48c3c67"}
                      ;; Dependency only to test the error skipping behavior.
                      org.spdx/java-spdx-library {:mvn/version "1.1.2"}}
         :exec-fn cognitect.test-runner.api/test
         :jvm-opts ["-Djdk.attach.allowAttachSelf"]}}}
