{:paths ["src" "res"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1" :mvn/scope "provided"}}

 :aliases
 {:attach {:jvm-opts ["-Djdk.attach.allowAttachSelf"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                                :git/sha "8e78bcc"}
                 io.github.seancorfield/build-clj {:git/tag "v0.9.2"
                                                   :git/sha "9c9f078"}}
          :ns-default build}

  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.0-alpha4"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                            :git/sha "48c3c67"}
                      ;; Dependency only to test the error skipping behavior.
                      org.spdx/java-spdx-library {:mvn/version "1.1.2"}}
         :exec-fn cognitect.test-runner.api/test
         :jvm-opts ["-Djdk.attach.allowAttachSelf"]}}}
